<div fxLayout="row" fxLayoutAlign="center">
  <mat-toolbar fxFlex.gt-sm="61%" fxFlex.xs="100%" class="hn-nav" color="primary" role="header">
    <span class="custom-nav-link" fxFlex.gt-md='1 1 20%' fxFlex.sm-xs='1 1 10%' [routerLink]="['/news', 1]">
      <span fxHide.sm="{{true}}" fxHide.xs="{{true}}">
        Hacker News
      </span>
      <span fxHide.gt-sm="{{true}}">
        HN
      </span>
    </span>
    <div class="links" fxFlex='1 1 auto'>
      <small class="custom-nav-link" [routerLink]="['/newest', 1]">new</small>
      <small>|</small>
      <small class="custom-nav-link" [routerLink]="['/show', 1]">show</small>
      <small>|</small>
      <small class="custom-nav-link" [routerLink]="['/ask', 1]">ask</small>
      <small>|</small>
      <small class="custom-nav-link" [routerLink]="['/jobs', 1]">jobs</small>
    </div>
    <div fxFlex='1 1 auto' fxLayoutAlign="end">
      <button mat-button>{{(favoriteCount | async) + ' Favorites'}}</button>
    </div>
  </mat-toolbar>
</div>
